<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="myStore" parallel="tests">

    <test name="myStoreTests">
        <classes>
            <class name="uiAutomation.myStore.resources.Runner"></class>
        </classes>
    </test>
</suite>